<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>images</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2012-02-22-first-post.md</string>
		</array>
		<array>
			<string>2012-02-24-my-top-10-ios-applications.markdown</string>
		</array>
		<array>
			<string>2012-03-19-my-goals-in-2012.markdown</string>
		</array>
		<array>
			<string>2012-04-05-essential-emacs-org-mode-setup-guide.markdown</string>
		</array>
		<array>
			<string>2014-07-08-virtualenv-wrapper.md</string>
		</array>
		<array>
			<string>2014-07-10-mac-apps-iam-using.md</string>
		</array>
		<array>
			<string>2014-07-10-vim-plugins-im-using.md</string>
		</array>
		<array>
			<string>2014-08-01-dynamic-form-with-springmvc-and-thymeleaf.md</string>
		</array>
		<array>
			<string>2014-08-06-some-advanced-vim-tips.md</string>
		</array>
		<array>
			<string>2014-08-11-about-reading.md</string>
		</array>
		<array>
			<string>2014-11-13-emacs-python-setup.md</string>
		</array>
		<array>
			<string>2014-11-26-how-to-make-flashcards-on-english-study.md</string>
		</array>
		<array>
			<string>2015-04-10-my-experience-on-vocabulary-learning.md</string>
		</array>
		<array>
			<string>2015-04-15-begin-to-use-spacemacs.md</string>
		</array>
		<array>
			<string>2015-06-04-need-to-keey-writing.md</string>
		</array>
		<array>
			<string>2015-06-05-plan-to-get-a-new-camera.md</string>
		</array>
		<array>
			<string>2015-06-15-django-list-and-detail-view.md</string>
		</array>
		<array>
			<string>2015-06-16-pen-recommendation.md</string>
		</array>
		<array>
			<string>2015-12-06-Pen-and-pencil-recommendations-version-2015.md</string>
		</array>
		<array>
			<string>2015-06-17-bullet-journal.md</string>
		</array>
		<array>
			<string>2015-06-18-jansport-city-scout-review.md</string>
		</array>
		<array>
			<string>2015-06-19-my-wish-list-2015.md</string>
		</array>
		<array>
			<string>2015-07-01-two-ways-to-write-simple-navbar.md</string>
		</array>
		<array>
			<string>2015-07-02-postgresql-is-great.md</string>
		</array>
		<array>
			<string>2015-07-02-rest-service-example-with-spring-boot-and-scala.md</string>
		</array>
		<array>
			<string>2015-07-02-scala-for-loop.md</string>
		</array>
		<array>
			<string>2015-07-17-how-to-deploy-django-applications.md</string>
		</array>
		<array>
			<string>2015-08-06-some-links-about-how-to-use-notebook.md</string>
		</array>
		<array>
			<string>2015-09-09-some-study-tips.md</string>
		</array>
		<array>
			<string>2015-12-02-my-knowledge-of-coffee.md</string>
		</array>
	</array>
</dict>
</plist>
